html {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(0, 93, 146);
    background: radial-gradient(circle,rgb(0, 93, 146) 0%, rgba(9,121,110,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;  
}
.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(177, 219, 216);
    min-height: 300px;
    min-width: 150px;
    padding: 15px;
    border-radius: 30px; 
    margin: 10px;  
    box-shadow: 5px 10px 18px black;
}
.input-section{
    background: transparent;
    border: none;
    margin: 10px;
    padding: 15px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-left: 0;
    outline: none;
    cursor: pointer;
}
.submit-login{
    border-radius: 35px;
    cursor: pointer;
    border:none;
    width: 100%;
    padding: 10px 30px;

}
h2{
    font-family: sans-serif;
}